In [29]:
import pandas as pd

In [30]:
salaireMoyen = pd.read_excel('salaireMoyen.xlsx', index_col=0)

In [31]:
salaireMoyen.head()

,Source,Sexe,Profession,Devise,Année,Valeur
Pays,,,,,,
Afghanistan,EPA - Labour Force Survey,Total,CITP-08: Total,Devise: Monnaie locale,2020,13202.2
Afghanistan,EPA - Labour Force Survey,Total,CITP-08: Total,Devise: Dollar américain,2020,171.9
Afghanistan,EPA - Labour Force Survey,Total,"CITP-08: 1. Directeurs, cadres de direction et...",Devise: Monnaie locale,2020,18338.6
Afghanistan,EPA - Labour Force Survey,Total,"CITP-08: 1. Directeurs, cadres de direction et...",Devise: Dollar américain,2020,238.7
Afghanistan,EPA - Labour Force Survey,Total,CITP-08: 2. Professions intellectuelles et sci...,Devise: Monnaie locale,2020,12435.4

In [9]:
dfMoyen = pd.DataFrame(columns=['Pays', 'Année', 'SalaireMoyen'])

pays_unique = salaireMoyen.index.unique()

In [10]:
for p in pays_unique:
    df2 = salaireMoyen[salaireMoyen.index == p]
    df2= df2.loc[df2['Devise'] == 'Devise: Dollar américain'].groupby('Année').mean()
    df2["Pays"] = p
    df2["Année"] = df2.index
    df2["SalaireMoyen"] = df2["Valeur"]
    dfMoyen = pd.concat([dfMoyen, df2[["Pays", "Année", "SalaireMoyen"]]])

In [11]:
dfMoyen

                Pays Année SalaireMoyen
2020     Afghanistan  2020   175.351515
2016         Albanie  2016   344.936111
2017         Albanie  2017   374.916667
2018         Albanie  2018   427.780556
2019         Albanie  2019   435.219444
...              ...   ...          ...
2019  Afrique du Sud  2019   481.754545
2017          Zambie  2017    508.80303
2018          Zambie  2018   303.254545
2019          Zambie  2019   277.009375
2020          Zambie  2020    175.79697

[341 rows x 3 columns]

In [28]:
salaireMin = pd.read_excel('salaireMin.xlsx', index_col=0)
salaireMin.head()

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
ILO Data Explorer,,,,
Pays,Source,Devise,Année,Valeur
Afghanistan,ADM - Labour legislation,Devise: Monnaie locale,2016,5000
Afghanistan,ADM - Labour legislation,Devise: Dollars PPA 2017,2016,289
Afghanistan,ADM - Labour legislation,Devise: Dollar américain,2016,73.7
Afghanistan,ADM - Labour legislation,Devise: Monnaie locale,2017,5500

In [12]:
dfMin = pd.DataFrame(columns=['Pays', 'Année', 'SalaireMin'])
pays_unique_min = salaireMin.index.unique()

In [25]:
for p in pays_unique_min:
    df2 = salaireMin[salaireMin.index == p]
    if (len(df2.index) > 1):
        df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
        if (len(df2.index) > 1):
            df2["Pays"] = p
            df2["Année"] = df2.index
            df2["SalaireMin"] = df2["Unnamed: 4"]
            dfMin = pd.concat([dfMin, df2[["Pays", "Année", "SalaireMin"]]])

C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df2 = df2.loc[df2['Unnamed: 2'] == 'Devise: Dollar américain'].groupby('Unnamed: 3').mean()
C:\Users\santh\AppData\Local\Temp/ipykernel_22968/2461163753.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.

In [27]:
dfMin

                Pays Année SalaireMin
2016     Afghanistan  2016       73.7
2017     Afghanistan  2017       80.8
2018     Afghanistan  2018       76.3
2019     Afghanistan  2019       70.8
2019          Angola  2019       58.8
...              ...   ...        ...
2020        Viet Nam  2020      190.4
2016  Afrique du Sud  2016      195.2
2017  Afrique du Sud  2017      231.9
2018  Afrique du Sud  2018      249.9
2019  Afrique du Sud  2019      242.2

[470 rows x 3 columns]

In [34]:
tauxChomage = pd.read_csv('tauxChomage.csv')
tauxChomage.head()

,ref_area.label,indicator.label,source.label,sex.label,classif1.label,time,obs_value,obs_status.label,note_classif.label,note_indicator.label,note_source.label
0,Aruba,Taux de chômage par sexe et âge (%),EPA - Labour Force Survey,Sexe: Total,"Age (Jeunes, adultes): 15+",1994,6.45,NaN,NaN,NaN,Période de référence des données: Octobre
1,Aruba,Taux de chômage par sexe et âge (%),EPA - Labour Force Survey,Sexe: Hommes,"Age (Jeunes, adultes): 15+",1994,5.36,NaN,NaN,NaN,Période de référence des données: Octobre
2,Aruba,Taux de chômage par sexe et âge (%),EPA - Labour Force Survey,Sexe: Femmes,"Age (Jeunes, adultes): 15+",1994,7.95,NaN,NaN,NaN,Période de référence des données: Octobre
3,Aruba,Taux de chômage par sexe et âge (%),EPA - Labour Force Survey,Sexe: Total,"Age (Jeunes, adultes): 15+",1997,7.45,NaN,NaN,NaN,Période de référence des données: Octobre
4,Aruba,Taux de chômage par sexe et âge (%),EPA - Labour Force Survey,Sexe: Hommes,"Age (Jeunes, adultes): 15+",1997,6.72,NaN,NaN,NaN,Période de référence des données: Octobre

In [38]:
tauxChomage.groupby('ref_area.label').mean()

                                              time  obs_value
ref_area.label
Afghanistan                            2015.247984   6.809374
Afrique du Sud                         2010.461165  23.180286
Albanie                                2011.289540  15.166091
Algérie                                2008.965074  13.862813
Allemagne                              2001.819199   7.208991
...                                            ...        ...
Venezuela, République bolivarienne du  2007.553633   8.103582
Viet Nam                               2013.481250   1.819113
Yémen                                  2003.361111  13.414043
Zambie                                 2014.305389   7.354356
Zimbabwe                               2007.001961   4.933814

[223 rows x 2 columns]